/*
 * bsv.shell.css
 * Shell styles
 */
 
 .bsv-shell-head, .bsv-shell-head-btn, .bsv-shell-main, 
 .bsv-shell-data, .bsv-shell-foot, .bsv-shell-start,
 .bsv-shell-start-SVG, .bsv-shell-start-button, h1, h2 {
 	position: absolute;
 }

.bsv-shell-head {
	top: 	0;
	left: 	0;
	right: 	0;
	height: 40px; /*3vw*/
	background: #D2D7D3;
}

.bsv-shell-start {
	top: 	0;
	left: 	0;
	right: 	0;
	height: 100%;
	background: #D2D7D3;	

}

.bsv-shell-start-SVG {
	margin-left	: -35%;
	top			: 15%;
	left		: 50%;
	width		: 70%;
	min-width	: 500px;
	height		: 26vw;
/*	background	: pink;*/
	text-align: center;	
	z-index		: 2;
}

.bsv-shell-start-strapline {

}

.bsv-shell-start-button {
/*	display: inline-block;*/
	text-align: center;
	padding: 0.6em;
	top: 	calc( 15% + 32vw); 
	left: 	46%; 
	height: 6%;
	max-height: 60px;
	width: 	8%;
	min-width: 100px;
	background: #F2F1EF;
	color	: gray;
	font-size : 1.6em;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.4s;
}
	.bsv-shell-start-button:hover {
		background: gray;
		color	: #F2F1EF;
	}


.titleText {
	display: inline-block;
/*	font  	: italic 21vh  serif; */
	font  	: italic 7.2em serif;	
	font-weight : 400;
	fill	: #F2F1EF;
}


.strapline {
	font-size : 2em;
	fill	: gray;	
}

.bsv-shell-head-btn {
	top: 	4px; /*0.3vw;*/
	left: 	4px; /*0.3vw;*/
	height: 32px;
	width: 	80px;
	color:	white;
	background: orange;
	transition: background 1s;
}
	.bsv-shell-head-btn:hover {
		background: darkorange;
		cursor:		pointer;
	}

#btn2 {
	left:	88px;
}

#btn3 {
	left:	172px;
}

#btn4,#btn5,#btn6 {
	background: dodgerblue;
}
	#btn4:hover {
		background: steelblue;
		cursor:		pointer;
	}

#btn4 {
	left:	256px;
}

#btn5 {
	left:	340px;
}

#btn6 {
	left:	424px;
}

.bsv-shell-main {
	top:	40px;
	left:	0;
	bottom:	40px;
	right: 	0;
	background: wheat;
}

.bsv-shell-data {
	top:	40px;
	width: 450px;
	bottom:	40px;
	right: 	-415px;
	background: gray;
	border-radius:		12px 0 0 12px;
}

.bsv-shell-foot {
	bottom:	0;
	left:	0;
	right:	0;
	height:	40px;
	background: black;
}