/*
 * bsv.shelves.css
 * Shelves styles
*/
.bsv-shelves-test, .bsv-shelves-live, .bsv-shelves-test-width, 
.bsv-shelves-test-info, .bsv-shelves-test-MARC, .bsv-shelves-live-width,
.bsv-shell-foot {
 	position: absolute;
 }

.bsv-shelves-test,
.bsv-shelves-live {
	top:	0.3vw;
	left:	0.3vw;
	right:	0.3vw;
	bottom:	0.3vw;
	background: #D2D7D3;
	overflow: scroll;
}

.bsv-shelves-test-width, 
.bsv-shelves-test-MARC,
.bsv-shelves-test-info,
.bsv-shelves-live-width {
	top:	5vw;
	bottom: 0.3vw;
	background: #D2D7D3;
}

.bsv-shelves-test-width {
	left:	7vw;
	width: 	36vw;
}

.bsv-shelves-test-info {
	left: 44vw;
	width: 13vw;
	background: #D2D7D3;
}

.bsv-shelves-test-MARC {
	left:	57.9vw;
	width:	36vw;
}

.bsv-shelves-live {
	background: pink;
}

.bsv-shelves-live-width {
	left:	7vw;
	width: 	48.65vw;
}

.shelf {
  fill: gray;
}

.thin.tall{
  fill: steelblue;
  fill-opacity: 0.6;
  transition: all 0.2s;
}
	.thin.tall:hover {
		fill-opacity: 0.8;
	}

.thick.tall{
  fill: dodgerblue;
  fill-opacity: 0.6;
  transition: all 0.2s;
}
	.thick.tall:hover {
		fill-opacity: 0.8;
	}

.thin.short {
  fill: #57A0D3;
  fill-opacity: 0.6;
  transition: all 0.2s;
}
	.thin.short:hover{
		fill-opacity: 0.8;
	}

.thick.short {
  fill: #4682B4;
  fill-opacity: 0.6;
  transition: all 0.2s;
}
	.thick.short:hover{
		fill-opacity: 0.8;
	}

.badbook {
  fill: #DB7093;
  fill-opacity: 0.5;
  transition: all 0.2s;
}
	.badbook:hover{
		fill-opacity: 0.8;
	}

.percent {
	font-size: 86px; 
	fill: gray;
}

.bad {
	font-size: 86px; 
	fill: darkred;
}

.svgText {
	font-size: 20px; 
	fill: darkgray;
}