/*
 * bsv.shell.css
 * Shell styles
 */
 
 .bsv-shell-head,  .bsv-shell-head-btn, .bsv-shell-main, 
 .bsv-shell-data, .bsv-shell-foot {
 	position: absolute;
 }

.bsv-shell-head {
	top: 	0;
	left: 	0;
	right: 	0;
	height: 40px; /*3vw*/
	background: lightgray;
}

.bsv-shell-head-btn {
	top: 	4px; /*0.3vw;*/
	left: 	4px; /*0.3vw;*/
	height: 32px;
	width: 	80px;
	color:	white;
	background: orange;
	transition: background 1s;
}
	.bsv-shell-head-btn:hover {
		background: darkorange;
		cursor:		pointer;
	}

#btn2 {
	left:	88px;
}

#btn3 {
	left:	172px;
}

#btn4 {
	left:	256px;
	background: dodgerblue;
}
	#btn4:hover {
		background: steelblue;
		cursor:		pointer;
	}

.bsv-shell-main {
	top:	40px;
	left:	0;
	bottom:	40px;
	right: 	0;
	background: wheat;
}

.bsv-shell-data {
	top:	40px;
	width: 450px;
	bottom:	40px;
	right: 	-415px;
	background: gray;
	border-radius:		12px 0 0 12px;
}

.bsv-shell-foot {
	bottom:	0;
	left:	0;
	right:	0;
	height:	40px;
	background: black;
}